<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Cafe</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <%= link_to "All", root_path, class: "dropdown-item" %>
            </li>
            <% categories.each do |category| %>
              <li>
                <%= link_to category.name, root_path(category: category.id), class: "dropdown-item" %>
              </li>
            <% end %>  
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/orders">Orders</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profile
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if customer_signed_in? %>
              <li>
                <%= link_to "Edit", edit_customer_registration_path, class: "dropdown-item" %>
              </li>
              <li>
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">Add Funds</a>
              </li>
              <li>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= link_to "Sign out", destroy_customer_session_path, class: "dropdown-item", method: :delete %>
              </li>
            <% else %>
              <li>
                <%= link_to "Sign in", new_customer_session_path, class: "dropdown-item" %>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
      
       <% if customer_signed_in? %>
       <p class="mr-5">Funds available: <%= current_customer.funds %></p>
          <a href="/orders/new" class="btn btn-success">cart(<%= cart_count %>)</a>
       <% end %>
    </div>
  </div>
</nav>